<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <script src="js/util/fade.js"></script>
    <script src="js/util/avatar.js"></script>
    <link rel="stylesheet" href="css/util/all.css">
    <link rel="stylesheet" href="css/util/animations.css">