.parent {
  width: 87%;
  margin: 5vw;
  padding: 0;
}
#country {
  font-family: fantasy;
  font: impact;
  font-size: 40px;
  color: 	SteelBlue;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#flags {
  width: 520px;
}
#_1 {
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  margin: 2px;
}
#_2 {
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  margin: 2px;
}
#_3 {
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  margin: 2px;
}
#_4 {
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  margin: 2px;
}
@keyframes flagclick {
  90% {
    opacity: 1;
  }
  100% {
    opacity: .5;
  }
}
