body {
  padding: 0;
  margin: 0;
  background: #E7F1F5;
}
.parent {
  display: flex;
  width: 87%;
}
svg {
  margin-left: 10%;
  margin-top: 180px;
}
svg text{
  font: 2em sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: .1em;
}
#_menu_log_reg {
  margin-left: 10px;
  margin-top: 140px;
  box-shadow: 0 0 3px;
  border: 3px;
  background: #E7F1F5;
  width: 180px;
  height: 200px;
  font-family: sans-serif;
  float: left;
}
#_menu_log_reg > input {
  margin: 6px;

}
