/* Список задач:
  1. Оптимизировать код
  2. Сделать адаптивность
  3. Убрать родительский элемент
  4. Сделать нормальную позицию объектам
  5. Сделать переключение кона логина и регистрации
  6. Сделать кнопку профиля */

body {
  /* -Отступы */
  padding: 0;
  margin: 0;
  background: #E7F1F5;
  /* Шапка */
  /*background-image: url(../akfub/otherimgs/Shapka.jpg); /* <--- Эта дичь не работает */
  background-attachment: fixed;
}
/* Блок описания  */
/* Нужно исправить */
.desc {
  margin-top: 50vh;
  margin-left: 1vw;
  /* Нужно поменять на единый параметр margin */
  width: 60vw;
  min-height: 40vh;
  box-shadow: 0 0 3px;
  border: 3px;
  border-radius: 2px;
  background: white;
  position: relative;
  top: 0;
  left: 4px;
}
/* Временный макет шапки */
.hat {
  width: 100%;
  height: 50px;
  border-top: 2px LightSlateGrey dashed;
  border-bottom: 2px LightSlateGrey dashed;
  text-align: center;
  font-family: sans-serif;
  color: LightSlateGrey
}
/* Оформление рекламного банера */
.ad {
  border-radius: 3px;
  border: 4px LightSlateGrey dashed;
  width: 180px;
  height: 500px;
  margin-top: 4px;
  margin-left: 6px;
  baseline: center
}
  /* Временное оформление текста, при вставке рекламы убрать */
.ad p {
  text-align: center;
  color: LightSlateGrey;
  font-family: sans-serif;
  vertical-align: middle;
}
/* Кнопка играца */
svg {
  margin-left: 10%;
  margin-top: 180px;
  opacity: .9
}
svg text{
  font: 2em sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: .1em
}
svg:hover {
  opacity: 1
}
/* Оформление окна регисрации и входа */
#_menu_log_reg {
  margin-left: 10px;
  margin-top: 140px;
  /* Обозначение границ окошка */
  box-shadow: 0 0 3px;
  border: 3px;
  border-radius: 2px;
  /* ========================= */
  background: inherit;
  width: 180px;
  height: 200px;
  /* Оформление текста внутри окна */
  font-family: sans-serif;
  /* ============================= */
}
#_menu_log_reg > input {
  margin: 6px
}
/* <==================================> */
