body, html {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #2a5eb2;
  overflow: hidden;
}
.flack {
  width: 100%;
  height: 100%;
  height: 100vh;
  opacity: 0;
  position: absolute;
  /* background-image: url(../images/otherimgs/test.png); */
}
.flack img {
  width: 105%;
  height: 110vh;
  margin-top: -5%;
  margin-left: -5%;
}

.cover {
  width: 100%;
  height: 100vh;
  opacity: 0;
  position: absolute;
  background-color: black;
}
.upblock {
  position: relative; /* <---- это ваня, он тут не должен быть, но он есть */
  margin-top: -15vh; /* <---- это ваня, он тут не должен быть, но он есть */
  background: #2a5eb2;
  width: 100%;
  height: 0;
  z-index: 4
}
.chooseArea {
    position: relative;
    left: 50%;
    margin-left: -20%;
    top: 50vh;
    margin-top: -15vh;
    width: 40%;
    /* box-shadow: -8px 0 13px 2px black; */
    /* box-shadow: 0px 10px 5px #888, 0px -10px 5px #888; */
    height: 30vh;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    z-index: 2;

  /* box-shadow: 0 0 8px #d3dde0; */
}
.topArrow {
  position: absolute;
  top: 1vh;

}
.bottomArrow {
  position: absolute;
  top: 22vh;
}
.chooseArea > .lvl {
    font-size: 1.5em;
    font-family: fantasy;
    color: #b9c1c4;
    margin: 8%;
    position: relative;
}
.leftLevelArrow, .rightLevelArrow, .bottomArrow, .topArrow {
  position: absolute;
  cursor: pointer;
}
.leftLevelArrow {
  left: 42%;
}
.rightLevelArrow {
  right: 40%;
}
.chooseArea > button {
    text-align: center;
    padding:0;
    width: 30%;
    height: 10vh;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}
.chooseArea > button > p {
  margin: auto;
  font-family: fantasy;
  font-size: 2.5em;
  color: #66a8e3;
}
