html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg.kruglyash circle {
  transform: rotate(-90deg);
  stroke-width: 8px;
  stroke: SteelBlue;
  stroke-dasharray: 300%;
  animation: timer 10s linear;
  -webkit-animation: timer 10s linear;
  animation-fill-mode: forwards;
}
#upblock {
  margin-top: 0;
  padding: 0;
  top: 6vh;
  position: fixed;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid black;

}
@keyframes timer {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: -187
  }
}
@keyframes timer2 {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: -187
  }
}
@-webkit-keyframes timer2 {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: -187
  }
}
@-webkit-keyframes timer {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: -187
  }
}
svg.kruglyash text {
  font-size: 1.3em;
  font-family: fantasy
}
.kruglyash { /* этот класс говно, надо поменять, щас лень @Хотя похуй, и так сойдёт */
  margin-left: 20px;
  opacity: 1;
  position: absolute;
  clear: right;
}
#country {
  display: flex;
  font-family: fantasy;
  font: impact;
  font-size: 40px;
  color: 	SteelBlue;
  text-align: center;
  float: left;
  /* Позиционирование ебать */
  position: relative;
  left: 30%;
  top: 25%;
}
#flags {
  width: 520px;
  margin-left: 0;
  top: 40vh;
  position: absolute;
  align-content: center;
  clear: both;
  justify-content: center;

}
/* Нужно скоратить */
#_1 {
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  margin: 2px
}
#_2 {
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  margin: 2px
}
#_3 {
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  margin: 2px
}
#_4 {
  border-radius: 6px;
  box-shadow: 0 0 10px black;
  margin: 2px
}
#lifes > img {
  width: 20px;
  height: 20px;
  float: left;
  clear: right;
  /* Делаю позицию, спорим, нихуя не получиться (ну собсна, чтд @ АГА САСАТЬ Я СДЕЛАЛ) */
  position: absolute;
  left: 70%;
}
/* Чекай вот это оптимизированное решение я придумал (АХАХАХАХАХАХА срабатало сука))..) */
#lifes > img:nth-child(2) {
  transform: translateX(20px);
}
#lifes > img:nth-child(3) {
  transform: translateX(40px);
}

#nolifes > img {
  width: 20px;
  height: 20px;
  float: left;
  clear: right;
  /* Делаю позицию, спорим, нихуя не получиться (ну собсна, чтд @ АГА САСАТЬ Я СДЕЛАЛ) */
  position: absolute;
  left: 70%;
}
#nolifes > img:nth-child(2) {
  padding-left: 20px;
}
#nolifes > img:nth-child(3) {
  padding-left: 40px;
}
/* Анимация ебаных сердец */
@keyframes life  {
 0% {
   opacity: 1;
 }

 100% {
   opacity: 0;
   transform: scale(2.5)
 }
}
@keyframes life2  {
 0% {
   opacity: 1;
 }

 100% {
   opacity: 0;
   transform: scale(2.5) translatex(8px);
 }
}
@keyframes life3  {
 0% {
   opacity: 1;
 }
 100% {
   opacity: 0;
   transform: scale(2.5) translatex(16px);
 }
}
@keyframes flagRem  {
 0% {
   opacity: 0.5;
 }
 100% {
   opacity: 0;
 }
}
@keyframes flagApp  {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}
@keyframes flagHide  {
 0% {
   opacity: 1;
 }
 100% {
   opacity: 0.5;
 }
}
@keyframes Rem  {
 0% {
   opacity: 1;
 }
 100% {
   opacity: 0;
 }
}
