@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
}
body *:not(#upblock){
  opacity: 0;
}
#circle {
  transform: rotate(-90deg);
  stroke-width: 8px;
  stroke: white;
  stroke-dasharray: 300%;
  animation: timer 10s linear;
  -webkit-animation: timer 10s linear;
  animation-fill-mode: forwards;
}
#innerCircle {
  transform: rotate(-90deg);
  stroke: #00236B;
  stroke-width: 5px;
}
#upblock {
  margin-top: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 16vh;
  display: flex;
  background: #2a5eb2;
  align-items: center;
  justify-content: center;
}
svg.kruglyash text {
  font-size: 2.4em;
  font-weight: 100;
  font-family: 'Oswald', sans-serif;
}
.kruglyash { /* этот класс говно, надо поменять, щас лень @Хотя похуй, и так сойдёт @Не ну теперь идиальна*/
  margin-left: -46%;
  position: absolute;
  align-items: center;
  /* text-align: center; */
}
#country {
  font-family: 'Oswald', sans-serif;
  font-weight: 1;
  font-size: 5.5em;
  color: white;
  float: left;
  margin: auto;
  /* Позиционирование ебать */
  position: relative;
}
#flags {
  width: 780px;
  left: 47%;
  top: 52vh;
  position: absolute;
  margin-left: -325px;
  margin-top: -200px;
  align-content: center;
  clear: both;
  justify-content: center;
}
#flags > img {
  width: 380px;
  height: 240px
}
/* Нужно скоратить */
#flag0, #flag1, #flag2, #flag3{
  -moz-user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-drag: none;
  -ms-user-select: none;

  border-radius: 6px;
  margin: 2px
}
#lives > img {
  width: 70px;
  height: 70px;
  float: left;
  /* Делаю позицию, спорим, нихуя не получиться (ну собсна, чтд @ АГА САСАТЬ Я СДЕЛАЛ) */
  position: absolute;
  left: 80%;
  top: 8vh;
  margin-top: -20px;
}
/* Чекай вот это оптимизированное решение я придумал (АХАХАХАХАХАХА срабатало сука))..) */
#lives > img:nth-child(2) {
  transform: translateX(70px);
}
#lives > img:nth-child(3) {
  transform: translateX(140px);
}

#nolives > img {
  width: 70px;
  height: 70px;
  float: left;
  clear: right;
  /* Делаю позицию, спорим, нихуя не получиться (ну собсна, чтд @ АГА САСАТЬ Я СДЕЛАЛ) */
  position: absolute;
  left: 80%;
  top: 8vh;
  margin-top: -20px;
}
#nolives > img:nth-child(2) {
  padding-left: 70px;
}
#nolives > img:nth-child(3) {
  padding-left: 140px;
}
#vsyapoloska {
  width: 100%;
  height: 10px;
  position: relative;
  top: 15vh;
}
#regime {
  font-family: 'Oswald', sans-serif;
  position: absolute;
  color: white;
  left: 79%;
  margin-top: -1em;
  font-size: 3em;
}
@keyframes timer {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: -257
  }
}
@keyframes timer2 {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: -257
  }
}
@-webkit-keyframes timer2 {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: -257
  }
}
@-webkit-keyframes timer {
  from {
    stroke-dashoffset: 0
  }
  to {
    stroke-dashoffset: -257
  }
}

/* Анимация ебаных сердец */
@keyframes live1  {
 0% {
   opacity: 1;
 }

 100% {
   opacity: 0;
   transform: scale(2.5)
 }
}
@keyframes live2  {
 0% {
   opacity: 1;
 }

 100% {
   opacity: 0;
   transform: scale(2.5) translatex(28px);
 }
}
@keyframes live3  {
 0% {
   opacity: 1;
 }
 100% {
   opacity: 0;
   transform: scale(2.5) translatex(56px);
 }
}

@media (max-width: 1441px) {
  #flags {
    margin-top: -120px;
  }
}
