@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: darkslateblue
}
#_1 {
  background: #9426e2;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#_2 {
  background: #9426e2;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#_1 > h1 {
  width: 28%;
  color: white;
  font-size: 9em;
  position: relative;
  margin-top: 0;
  top: 18vh;
  left: 50%;
  margin-left: -14%;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 200;
}
#_1 > h1:nth-child(2) {
  margin-top: -10vh;
  width: 34%;
  margin-left: -17%;
}
#_1 > svg {
  position: absolute;
  top: 90vh;
  left: 50%;
  margin-left: -60px;
  cursor: pointer;
}
#_1 > h6 {
  color: Gainsboro;
  font-family: 'Fjalla One', sans-serif;

}
#_2 > svg {

}

@keyframes into{
  0%{
    background-color: #9426e2
  }
  100% {
    background-color: #3257db
  }
}
@keyframes outto{
  0%{
    background-color: #3257db
  }
  100% {
    background-color: #9426e2
  }
}
