/* А брат вани чёткий */
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden
}
#first {
  background: #9426e2;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
#second {
  background: #2a5eb2;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  z-index: -3;
}
#first > h1 {
  width: 28%;
  color: white;
  font-size: 9em;
  position: relative;
  margin-top: 0;
  top: 18vh;
  left: 50%;
  margin-left: -14%;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 200;
}
#first > h1:nth-child(2) {
  margin-top: -6vh;
  width: 42%;
  margin-left: -21%;
}
#buttonscroll {
  top: 43vh;
  width: 120px;
  height: 47px;
  position: relative;
  animation-iteration-count: infinite;
  animation-name: strelkaJumping;
  animation-duration: 1s;
  animation-delay: 0.9s;
  animation-timing-function: ease-out;
}
#first > h4 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  position: relative;
  letter-spacing: 3px;
  top: 30vh;
  left: 50%;
  font-size: 3em;
  width: 14%;
  margin-left: -7%;
}
.veryupblock {
  left: 50%;
  margin-left: -35%;
  width: 70%;
  height: 100vh;
  background: #E7F1F5;
  display: block;
  position: absolute;
  opacity: 1;
  z-index: -2;
}
#buttonplay {
  width: 450px;
  height: 450px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -225px;
  cursor: pointer;
  border-radius: 250px;
  stroke-width: 30px;

}
#buttonprofile {
  margin-left: 0; /*30px для 1920*1080 */
  position: absolute;
  left: 0;
  top: 150%;
  margin-top: -75px;
}
#profilemenu {
  margin: 0;
  background: white;
  position: absolute;
  width: 30%;
  height: 100vh;
  left: -30%;
  font-family: 'Oswald', sans-serif;
}
.circleButtons{
  left: 50%;
  top: 94vh;
  position: absolute;
  transform: translate(-50%, 0vh);
}
#buttonplay:hover {
  animation-duration: 1.2s;
  animation-delay: .8s;
  animation-iteration-count: infinite;
  animation-name: playButton;
}
#playerTable{
  border-collapse: separate;
  width: 92%;
  text-align: center;
  top: 68%;
  position: absolute;
  font-size: 2.6vh;
  left: 50%;
  transform: translate(-50%, 0vh);
  margin-right: -50%;
  border-spacing: 0px 1.5vh;
}
.row{
  background: #ededed;
}
.row > td{
  height: 5vh
}
@keyframes into{
  0% {
    background-color: #9426e2
  }
  100% {
    background-color: #2a5eb2
  }
}
@keyframes outto{
  0% {
    background-color: #2a5eb2
  }
  100% {
    background-color: #9426e2
  }
}
@keyframes pushButton {
  0% {
    transform: none;
  }
  100% {
    transform: rotatey(180deg)
  }
}
@keyframes pullButton {
  0% {
    transform: rotatey(180deg)
  }
  100% {
    transform: rotatey(0deg)
  }
}
@keyframes strelkaJumping {
  0% {
    transform: none;
  }
  40% {
    transform: translateY(30%)
  }
  100% {
    transform: none;
  }
}
@keyframes playButton {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg)
  }
}
@keyframes profileButtonInto {
  0% {
    stroke: #9426e2
  }
  100% {
    stroke: #2a5eb2
  }
}
@keyframes profileButtonOutto {
  0% {
    stroke: #9426e2
  }
  100% {
    stroke: #2a5eb2
  }
}
/* Стилизиуем срань ну всмысле коммент ради коммента я знаю что коменты тоже весят отстань ваня*/
#logRegMenu {
  margin: 0;
  width: 100%;
  height: 15%;
  position: relative;
  border-bottom: 12px solid #2a5eb2;
  align-items: center;
  color: #2a5eb2;
  justify-content: center;
  text-align: center;
}
#logRegMenu > h1 {
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  font-size: 4em;
  letter-spacing: .04em;
}
#logRegMenu > h2 {
  margin-top: -2vh;
  letter-spacing: .04em;
}
#avatr {
  margin-top: 5%;
  margin-left: 5%;
  width: 30%;
  float: left;
}

#stats > p{
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  font-size: 6vh;
}

#profilemenu > svg{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin-right: -50%;
}

#profilemenu > svg > circle{
  fill: white;
  stroke: #dedede;
  stroke-width: 15px;
}

#profilemenu > svg > line{
  stroke: #dedede;
  stroke-width: 15px;
}

#logRegMenu > p{
  position: absolute;
  top: -9vh;
  left: 50%;
  margin-right: -50%;
  font-size: 9.2vh;
  color: black;
  transform: translate(-50%, 0%);
}

#place{
  top: 14%;
}
#games{
  top: 23%;
}
#victories{
  top: 32%;
}
#accuracy{
  top: 41%;
}
#score{
  top: 50%;
}

.emptyText {
  margin-top: 9%;
  color: #666666;
  font-size: 2.6em;
  text-align: center;
}
.emptyText > svg, rect {
  width: 60%;
  height: 5%;
}
#profilemenu > h1 {
  font-size: 5em;
  margin: 12vh 0 0 0;
  color: #666666;
  text-align: center;
  clear: left;
}

label.HochuCursor {
  cursor: pointer;
}
#first > h1:nth-child(2) {
  width: 50%;
  margin-left: -25%;
  font-size: 5.5em;

}
#first > h4 {
  width: 24%;
  top: 45vh;
  margin-left: -12%;
  font-size: 2em;
}
/* @media (max-width: 1441px) {
  #first > h1 {
    font-size: 7em;

  }
  #first > h4 {
    font-size: 2.3em;
  }
}
@media (max-width: 1025px) {
  #first > h1 {
    width: 32%;
    margin-left: -16%;
    font-size: 5.5em;
    top: 25vh;
  }
} */
/* @media (max-width: 2561px) {
    #first > h1 {
      top: 25vh;
      width: 45%;
      margin-left: -22.5%;
      font-size: 11em;
  }
  #first > h1:nth-child(2) {
    font-size: 12em;
  }
  #first > h4 {
    top: 40vh;
    font-size: 5em;
  }
  #first > svg {
    width: 150px;
    height: 58px;
    top: 35vh;
  }
} */
