@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: purple;
  /* overflow: hidden */
}
#first {
  background: #9426e2;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#second {
  background: #9426e2;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#first > h1 {
  width: 28%;
  color: white;
  font-size: 9em;
  position: relative;
  margin-top: 0;
  top: 18vh;
  left: 50%;
  margin-left: -14%;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 200;
}
#first > h1:nth-child(2) {
  margin-top: -10vh;
  width: 34%;
  margin-left: -17%;
}
#first > svg {
  position: relative;
  top: 28vh;
  /* left: 50%; */
  /* margin-left: -60px; */
  cursor: pointer;
}
#first > h4 {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  position: relative;
  top: 30vh;
  left: 50%;
  font-size: 3em;
  width: 15%;
  margin-left: -7.5%;
  cursor: pointer;
  /* text-decoration: underline; */
  font-style: italic;
}
#first > h4:hover {
  color: gainsboro;
  text-decoration: underline;
  font-style: italic;
}
#second > svg {

}
@keyframes into{
  0%{
    background-color: #9426e2
  }
  100% {
    background-color: #3672d1
  }
}
@keyframes outto{
  0%{
    background-color: #3672d1
  }
  100% {
    background-color: #9426e2
  }
}
