/* Список задач:
  1. Сделать адаптивность
  2. Сделать переключение окна логина и регистрации
  3. Сделать кнопку профиля
  4. Сделать сука нормальный вид объектам
  5. Добавить шрифтов */
  /* Шрифтики */
@import url('https://fonts.googleapis.com/css?family=Roboto|Anton|IBM+Plex+Sans:700|Roboto+Slab:700|Baloo+Bhai');  /* Roboto | IBM plex sans | Roboto slab | Baloo Bhai */
body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: * #F4F6F7;
}
/* УУ РЕКЛАМА АТПИСКА ПРАДАЛСЯ */
#ad {
  /* Текст на время отсутствия банера */
  font-family: sans-serif;
  text-align: center;
  /* Гроница на первое время*/
  border-radius: 3px;
  border: 2px dashed gray;
  width: 14%;
  height: 60vh;
  /* Пазишн ебать */
  position: relative;
  clear: left;
  top: 12vh;
  left: 2px;
  float: left;
  /* Курсорчиииииииик */
  cursor: default;
}
/* Рекламная ссылка */
#ad > a {
  text-decoration: none;
  color: gray;

}
#desc {
  padding: 3px;
  border-radius: 3px;
  box-shadow: 0 0 2px black;
  /* Бэкграунд ебать я из англии */
  background-blend-mode: multiply;
  background-color: #696969;
  background-image: url(../../assets/images/otherimgs/paramparampam.jpg);
  /* Чо по размерам */
  width: 60%;
  height: 60vh;
  color: #F0FFFF;
  /* Позиционирование */
  position: relative;
  top: 30vh;
  left: 15%;
  /* Курсорчиииииииик */
  cursor: text;
}
/* Ага да отдельные классы для заголовка и подзаголовка ммм h1 h2 не не слышали */
#desc p.desctitle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.3em;
  text-align: center;
  width: 100%
}
#desc p.nedotitle   {
  font-size: 1.2em;
  list-style-type: none;
  font-family: 'Roboto',  sans-serif;
}
#hat {
  position: fixed;
  width: 100%;
  /* Слышь, дизайн, а ты не охуел ли быть говном?? */
  background: white;
  border-bottom: 1px solid DarkSLateGray;
  /* а чо высота отдельно от ширины? ну и хуй с ним... */
  height: 5vh;
  cursor: default:;
}
#hat > .title {
  color: white;
  text-shadow: 3px 3px 6px black;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  height: 2vh;
  padding-top: 0;
  margin: 0;
}
/* Панель регистрации и входа */
#log_menu {
  border-radius: 2px;
  box-shadow: 0 0 1.5px black;
  position: relative;
  top: 10vh;
  left: 1.2%;
  width: 200px;
  height: 30vh;
  float: left;
  background-color: white;
  /* Шоб курсору жизнь малиной не казалась */
  cursor: pointer;
}
/* Поля для ввода */
#log_menu > input:nth-child(1) {
  margin-left: 1vw;
  margin-top: 4px;
  border-radius: 2px;
  border: none;
  background: white;
  box-shadow: 0 0 4px gray;
  outline: none;
}
#log_menu > input:nth-child(2) {
  margin-left: 1vw;
  margin-top: 4px;
  border-radius: 2px;
  border: none;
  background: white;
  box-shadow: 0 0 4px gray;
  outline: none;
}
#log_menu > p > input {
  margin-left: 1vw;
  margin-top: 4px;
}
#log_menu > input:nth-child(4) {
  border-radius: 3px;
  border: none;
  background: white;
  box-shadow: 0 0 4px gray;
  margin-left: 19%;
  width: 60%
}
#log_menu > p {
  font: .9em sans-serif;
}
/* Кнопка играца */
svg {
  opacity: .9;
  cursor: crosshair;
  position: relative;
  top: 21vh;
  left: 30%
}
svg text {
  font: 2em sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: .1em
}
svg:hover {
  opacity: 1
}
/* Стили профиля */
#profile
/* @media (min-height: 1291px) {
  #hat {
    height: 4vh;

  }
  #hat > .title {

  }
} */
@media (max-width: 1407) {
  #log_menu {
    border-radius: 2px;
    box-shadow: 0 0 1.5px black;
    position: relative;
    top: 10vh;
    left: 2px;
    width: 200px;
    height: 30vh;
    float: left;
    background-color: white;
    /* Шоб курсору жизнь малиной не казалась */
    cursor: pointer;
  }
  /* Поля для ввода */
  #log_menu > input:nth-child(1) {
    margin-left: 1vw;
    margin-top: 4px;
    border-radius: 2px;
    border: none;
    background: white;
    box-shadow: 0 0 4px gray;
    outline: none;
  }
  #log_menu > input:nth-child(2) {
    margin-left: 1vw;
    margin-top: 4px;
    border-radius: 2px;
    border: none;
    background: white;
    box-shadow: 0 0 4px gray;
    outline: none;
  }
  #log_menu > p > input {
    margin-left: 1vw;
    margin-top: 4px;
  }
  #log_menu > input:nth-child(4) {
    border-radius: 3px;
    border: none;
    background: white;
    box-shadow: 0 0 4px gray;
    margin-left: 19%;
    width: 60%
  }
  #log_menu > p {
    font: .9em sans-serif;
  }
}
/*  */
