@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
  background-color: #2a5eb2;
}

#text{
  color: white;
  opacity: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 1;
  font-size: 7em;
  margin-left: 25%;
  margin-top: 36vh;
}
