@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
body{
  background-color: #2a5eb2;
}

.text{
  color: white;
  opacity: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 1;
  font-size: 7em;
}

#text1{
  transform: translate(-50%, 0%);
  left: 50%;
  margin-right: -50%;
  position: absolute;
  margin-top: 36vh;
}

#text2{
  transform: translate(-50%, 0%);
  left: 50%;
  margin-right: -50%;
  position: absolute;
  margin-top: 36vh;
}

@keyframes end{
  0% {
    background-color: #2a5eb2
  }
  100% {
    background-color: #9426e2
  }
}
