/* комент ради комент */
/* тестим переменные */
:root {
  --sec: 10;
}

.kruglyash { /* этот калсс говно, надо поменять, щас лень */
  margin: 0;
  opacity: 1;
  position: absolute;
}
/*Коммент ради коммента  */
/* но я тут пытался сделать анимацию..  */
svg.kruglyash circle {
  transform: rotate(-90deg);
  stroke-width: 8px;
  stroke: SteelBlue;
  transition-property: stroke-dashoffset;
  stroke-dasharray: 300%;
  stroke-dashoffset: -187;
  transition-timing-function: linear;
  transition-duration: 11s;
}
